.logo{
    color: green;
    margin: 0% 140px;
    padding: 10px 0;
    font-style: italic;
    
}
.mainHeader{
    background-color: black;
    display: flex;
    position: relative;
    text-align: center;
    
}
.app_logo{
    align-items: right;
    position: absolute;
    left: 10px;
    top: 6px;
}
.right{
    position: absolute;
    right: 10px;
    top: 15px;
    color: blanchedalmond;
    cursor: pointer;
}
.right a{
    text-decoration: none;
}
.right:hover{
    background-color: rgb(27, 26, 26);
}