.logo{
    color: green;
    margin: 0% 140px;
    padding: 10px 0;
    font-style: italic;
    
}
.mainHeader{
    background-color: black;
    display: flex;
    position: relative;
    text-align: center;
    
}
.app_logo{
    align-items: right;
    position: absolute;
    left: 10px;
    top: 6px;
}