.footer {
  padding: 25px 10px;
  background-color: black;
  color: blanchedalmond;
  display: flex;
}
.footer .btn {
  display: inline;
  padding: 0% 100%;
  color: white;
  text-align: center;
  width: 100%;
}
.footer a{
  text-decoration: none;
}
.footer .btn :hover {
  font-weight: bold;
}
