.App {
  text-align: center;
}
.header{
  position: fixed;
  top: 0%;
  right: 0px;
  left: 0px;
}
.main{
  margin-top: 55px;
}
.footer{
  background-color: white;
  color: #0c4252;
  position: fixed;
  bottom: 0%;
  right: 0px;
  left: 0px;
}
